<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watsonx INCUBATION | IBM Indonesia</title>
    <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
    <link rel="icon" type="image/x-icon" href="https://cdn.iconscout.com/icon/free/png-256/free-bee-189-439428.png?f=webp">
    <link rel="stylesheet" href="https://1.www.s81c.com/common/carbon/plex/sans.css" />
    <style>
      body {
        font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;
      }

      .content {
        margin: 5%;
        margin-top: 10%;
        width: 20%; /* Adjust this value for spacing between header and paragraph */
      }

      footer {
        position: absolute;
        bottom: 1%;
        left: 1%;
        width: 100%; /* Ensure it spans the full width */
        font-size: small;
      }

    </style>
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/version/v2.4.0/ui-shell.min.js"></script>
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/version/v2.4.0/tile.min.js"></script>
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/version/v2.4.0/slug.min.js"></script>

</head>
<body>
    <cds-header aria-label="IBM Platform Name">
        <cds-header-menu-button
          button-label-active="Close menu"
          button-label-inactive="Open menu"></cds-header-menu-button>
        <cds-header-name href="/" prefix="IBM">watson<span style="color:#0f62fe;">x</span></cds-header-name>
        <cds-header-nav menu-bar-label="IBM [Platform]">
          <!--cds-header-nav-item href="/wd-upload">Watson Discovery</cds-header-nav-item-->
          <!--cds-header-nav-item href="javascript:void 0">watsonx ai</cds-header-nav-item-->
          <cds-header-nav-item href="/rag">RAG</cds-header-nav-item>
        </cds-header-nav>

    </cds-header>

    <div class="content">
      <h1>watson<span style="color:#0f62fe;">x</span></h1>
      <p>
          watson<span style="color:#0f62fe;">x</span> is an AI and data platform with three core components and a set of AI assistants designed to help you scale and accelerate the impact of AI with trusted data across your business.
      </p>
      <p>
          The core components include: a studio for new foundation models, generative AI and machine learning; a fit-for-purpose data store built on an open data lakehouse architecture; and a toolkit, to accelerate AI workflows that are built with responsibility, transparency and explainability.
      </p>
    </div>


    <footer>
      Developed by IBM Client Engineering Indonesia
    </footer>
    
</body>
</html>